:root {
    --blue1: #dbeafe;
    --blue2: #bedbff;
    --blue4: #54a2ff;
    --blue5: #3080ff;
    --blue5l: #3080ff3d;
    --gray1: #212121;
    --gray2: #e5e7eb;
    --gray3: #d1d5dc;
    --gray4: #99a1af;
    --gray5: #6a7282;
    --gray6: #4a5565;
}


* {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


body {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2500' height='950' viewBox='0 0 2500 950' fill='none'%3E%3Cdefs%3E%3ClinearGradient id='lineDown' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0%25' stop-color='rgba(84,162,255,0)'/%3E%3Cstop offset='100%25' stop-color='rgba(84,162,255,0.26)'/%3E%3C/linearGradient%3E%3ClinearGradient id='lineUp' x1='0' y1='1' x2='0' y2='0'%3E%3Cstop offset='0%25' stop-color='rgba(84,162,255,0)'/%3E%3Cstop offset='100%25' stop-color='rgba(84,162,255,0.26)'/%3E%3C/linearGradient%3E%3ClinearGradient id='fadeMask' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0%25' stop-color='white'/%3E%3Cstop offset='74%25' stop-color='white'/%3E%3Cstop offset='100%25' stop-color='black' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cmask id='mask'%3E%3Crect width='2500' height='950' fill='url(%23fadeMask)'/%3E%3C/mask%3E%3C/defs%3E%3Cg mask='url(%23mask)'%3E%3Cpath d='M599 88L598 388' stroke-width='6' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M77 633L76 860' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2008 157L2007 -83' stroke-width='6' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1598 183L1597 700' stroke-width='6' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2219 445L2218 208' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1809 69L1808 -106' stroke-width='6' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1290 562L1289 920' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M518 253L517 860' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2115 584L2114 373' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1709 364L1708 9' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M367 528L366 870' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M209 430L208 790' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M272 284L271 760' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M318 256L317 700' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1221 501L1220 246' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2153 426L2152 97' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M872 44L871 207' stroke-width='6' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2146 650L2145 940' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2206 82L2205 333' stroke-width='10' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M277 543L276 79' stroke-width='10' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1347 603L1346 374' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M458 610L457 930' stroke-width='6' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M254 89L253 290' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1202 44L1201 234' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2486 404L2485 12' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M2394 403L2393 820' stroke-width='6' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M681 258L680 488' stroke-width='10' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1636 100L1635 489' stroke-width='10' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M735 619L734 168' stroke-width='6' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M365 179L364 605' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1721 264L1720 -17' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1027 410L1026 35' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M57 478L56 244' stroke-width='10' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M2054 335L2053 600' stroke-width='10' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1443 89L1442 324' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M483 501L482 287' stroke-width='6' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1567 325L1566 700' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1848 578L1847 180' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1508 586L1507 420' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1701 231L1700 760' stroke-width='6' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1543 289L1542 860' stroke-width='8' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M808 8L807 287' stroke-width='6' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1170 383L1169 860' stroke-width='6' stroke='url(%23lineDown)' stroke-linecap='round'/%3E%3Cpath d='M1411 488L1410 106' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1657 412L1656 820' stroke-width='10' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3Cpath d='M1948 291L1947 830' stroke-width='8' stroke='url(%23lineUp)' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000000;
}


ul {
  list-style-type: none;
  width: 90%;
  display: flex;
  position: fixed;
  z-index: 1;
  box-shadow: 3px 3px 9px var(--blue4);
  border-radius: 24px;
  background: black;
  border: 2px solid var(--blue4);
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

ul li a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: var(--blue4);
  text-align: center;
  padding: 12px 16px;
  z-index: 2;
  transition: transform 0.1s ease;
}

ul li a:hover {
  transform: translateY(-2px);
}

.status {
  color: var(--gray4);
  font-size: 20px;
  padding: 12px 16px;
  z-index: 2;
  display: block;
}


.container {
  width: 100%;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.content {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}

.section, .section2, .section3 {
  display: flex;
  justify-content: center;
}

h1 {
  padding-top: 150px;
  background-image: linear-gradient(to top, var(--blue5), var(--blue1));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
  font-style: normal;
  font-size: 85px;
  text-shadow: 4px 4px 50px var(--blue4);
}


h4 {
  color: var(--blue4);
  font-size: 30px;
}


p {
  margin-top: 20px;
  color: var(--gray4);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  /*padding-bottom: 200px;*/
}


.button {
  margin-top: 75px;
  display: inline-block;
  position: relative;
  width: 350px;
  padding: 3px 0;
  color: var(--blue4);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  background: black;
  border: 2px solid var(--blue4);
  border-radius: 24px;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 9px var(--blue4);
}


.button:hover {
  color: black;
  background: var(--blue4);
  border-color: transparent;
  box-shadow: #0a254059 0px -2px 6px 0px inset;
  transform: translateY(-2px);
}

.button:hover svg {
  color: black;
}


.button:active {
  color: var(--blue4);
  background: black;
  border: 2px solid var(--blue4);
  box-shadow: 0;
}


h2 {
  color: var(--blue4);
  font-size: 45px;
  font-weight: 500;
  text-shadow: 4px 4px 30px var(--blue4);
  background-color: var(--blue4);
  -webkit-background-clip: text;
  color: transparent;
}


.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.section3 .description {
  margin-bottom: 75px;
}

.section3 .list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  justify-content: start;
}

.list > div {
  border: 1px solid var(--blue4);
  border-radius: 24px;
  padding: 15px 30px;
  box-shadow: 3px 3px 9px var(--blue4);
}

.list > div:hover {
  color: black;
  background: var(--blue4);
  border-color: transparent;
  box-shadow: #0a254059 0px -2px 6px 0px inset;
  transform: translateY(-2px);
}

.list > div:hover svg,
.list > div:hover h4 {
  color: black;
}

.list > div:hover p {
  color: var(--gray1);
}

svg {
  color: var(--blue4);
  width: 30px;
  height: 30px;
}


.tablet, .desktop {
  display: none;
}
.mobile {
  display: block;
}

@media (min-width: 768px) {
  .list > div {
    padding: 20px 40px;
  }
  .section3 .list {
    gap: 30px;
  }
  h1 {
    font-size: 110px;
  }
  h2 {
    font-size: 55px;
  }
  h4 {
    font-size: 33px;
  }
  p {
    font-size: 22px;
  }
  .button {
    font-size: 33px;
    width: 385px;
    padding: 4px 0;
  }
  svg {
    width: 33px;
    height: 33px;
  }
  ul li a, .status {
    font-size: 22px;
  }
  .mobile, .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
}


@media (min-width: 1200px) {
  .section3 .list {
      grid-template-columns: repeat(3, max-content);
  }
  h1 {
    font-size: 150px;
  }
  h2 {
    font-size: 75px;
  }
  h4 {
    font-size: 45px;
  }
  p {
    font-size: 30px;
  }
  .button {
    font-size: 45px;
    width: 500px;
    padding: 8px 0;
    border-radius: 36px;
  }
  svg {
    width: 45px;
    height: 45px;
  }
  ul {
    border-radius: 36px;
  }
  ul li a, .status {
    font-size: 30px;
  }
  .mobile, .tablet {
    display: none;
  }
  .desktop {
    display: block;
  }
}




.section2, .section3 {
  position: relative;
}

/* Glow */

.section2::before, .section3::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(84,162,255,0.18), transparent 70%
  );
  filter: blur(80px);
  pointer-events: none;
  z-index: 0;
}

/* Unterschiedliche Positionen */

.section2::before {
  left: -20%;
  top: -60px;
}

.section3::before {
  left: 60%;
  top: 300px
}